export PORT=8080
export API_PORT=9090
export CQC_API_URL=https://api.cqc.org.uk/public/v1

export GENIUS_API_ACCESS_TOKEN=U-2go7j4xv9-A49Na6dkWAROoJ0YpRHvdai0rNH-VlBkUU0JDtvolRkjpxnViJ8_
export GENIUS_API_URL=https://api.genius.com

export LASTFM_API_KEY=3ef2ee684d4ebf28ddfc0ad158c914b7
export LASTFM_API_URL=http://ws.audioscrobbler.com/2.0

export WATSON_PI_API_KEY=Wpk0IZBsEWdn6Cy7rDo2SQvhs-z3nrVdnLU7LHEBIV6W
export WATSON_PI_API_URL=https://gateway-lon.watsonplatform.net/personality-insights/api
export WATSON_PI_API_VERSION=2017-10-13

export BASE_URL=http://localhost:8080

export SENTRY_DSN=https://fd9221f661504985a81cfe714f162336@sentry.io/1474437

# production
# export MONGODB_ADDON_URI=mongodb://urssm1njv9o3fn5fsdg0:THcTvBR6TRABj3LRVA4n@b8oavbs6an5oo0o-mongodb.services.clever-cloud.com:27017

# export MONGODB_ADDON_DB=b8oavbs6an5oo0o

# localhost
export MONGODB_ADDON_URI=mongodb://127.0.0.1:27017/?gssapiServiceName=mongodb

export MONGODB_ADDON_DB=iampeterbanjo

export ROLLBAR_ACCESS_TOKEN=229f3b5c25954a2c9171ceeeb72b4fcc
